<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StringConnection" value="server=RAZVAN-LAPTOP;database=filme ; Integrated security=True" />
		
		<add key="Parinte" value="Angajat"/>
		<add key="Copil" value="Concediu"/>
		<add key="Coloana" value="idAngajat"/>

		<!--
		<add key="Parinte" value="Film"/>
		<add key="Copil" value="Recenzie"/>
		<add key="Coloana" value="idFilm"/>
		-->
	</appSettings>
</configuration>