.structure {
	display:flex;
	flex-flow:column;
	height:100%;
}

.header {
	display:flex;
	flex:1;
	width:100%;
	background-color:#ff6600;
	align-items:center;
}

h1 {
	margin-left:auto;
	margin-right:auto;
}

.mainMenu {
	display:flex;
	flex-flow:column;
}

.menuList {
	display:flex;
	flex-grow:1;
	height:30px;
	width:100%;
	flex-direction:row;
	background-color:#ff9933;
	border-style:solid;
	border-width:1px;
	border-left-width:0px;
	border-right-width:0px;
	
}

.menuItem {
	display:flex;
	flex-grow:1;
	text-align:left;
	background-color:#ff9933;
	padding:5px;
	border-style:solid;
	border-width:0px;
	border-right-width:1px;
}

.menuBody {
	display:flex;
	flex-grow:2;
	height:750px;
	width:100%;
	background-color:#ff3333;
	align-items:center;
}

.meniuScris {
	display:flex;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}

.footer {
	display:flex;
	flex-grow:1;
	height:80px;
	background-color:#cc0000;
}